* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Figtree", "Figtree Fallback", sans-serif;
  line-height: 1.5;
}

p {
  font-family: "Noto Sans", "Noto Sans Fallback", sans-serif;
}

caption {
  font-family: "Noto Sans", "Noto Sans Fallback", sans-serif;
  font-size: 18px;
  font-style: italic;
}

h1 {
  font-weight: 500;
  font-size: 32px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: 500;
  font-size: 22px;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 8px 0;
}

a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
}

ul {
  font-size: 16px;
  line-height: 1.55;
  padding-inline-start: 40px;
  margin: 0 0 24px 0;
}

li {
  list-style: disc;
}

main {
  padding: 48px 24px;
}

footer {
  margin: 0;
}

.related-links,
.copyright {
  padding: 48px 24px;
}

.related-links {
  background-color: #373737;
  color: #ffffff;
}

.related-links h3 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 48px;
}

.copyright {
  color: rgb(230, 230, 230);
}

.copyright h3,
.copyright p,
.copyright a {
  font-size: 14px;
  font-weight: 400;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: rgb(9, 9, 9);
  }

  a {
    color: rgb(19, 120, 164);
  }

  .related-links {
    background-color: rgb(246, 246, 246);
    color: rgb(9, 9, 9);
  }

  .copyright {
    background-color: rgb(55, 55, 55);
    color: rgb(230, 230, 230);
  }
  .copyright a {
    color: rgb(230, 230, 230);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #433f3f;
    color: #ffffff;
  }

  a {
    color: #ffffff;
  }

  table,
  th,
  td {
    border: 1px solid #e6e6e6;;
  }

  .copyright {
    color: #e6e6e6;
  }
}
